

@using CRUDBD.Models;

@model Cliente


@{
    ViewBag.Title = "Deletar";
}











<div class="jumbotron">
    <h2>Deletar</h2>
</div>

@using (Html.BeginForm("Deletar", "Home", FormMethod.Post))
{

    <div class="row">

        <div class="col-lg-2">
           

            @Html.LabelFor(Cliente => Cliente.cpf)

            @Html.TextBoxFor(Cliente => Cliente.cpf, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Consultar</button>
            @Html.ValidationMessageFor(Cliente => Cliente.cpf)

        </div>




        </div>
        <br />
        <br />}

